/* Style.css = CSS-Grid*/

.container {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;

  grid-template-areas:
    "header"
    "nav"
    "sidebar"
    "content"
    "footer";
}

@media only screen and (min-width: 480px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
      "header nav"
      "sidebar content"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
      "header header nav"
      "sidebar content content"
      "footer footer footer";
  }
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

.navigation__item {
  display: flex;
  justify-content: space-around;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
